#content {
    margin-bottom: 45px;
    padding: 0 15px;
}
#content .nologin {
    height: 111px;
}
#content .logininfo {
    margin: 10px 0;
}
#content .center {
    text-align: center;
    width: 125px;
    margin: 0 auto;
}
#content .nologin .loginbut {
    font-size: 1.4rem;
    color: #fff;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    background-color: #1fc8a1;
    position: relative;
    top: 33px;
}

a {
    outline: none;
    text-decoration: none;
}

#content .buttons {
    margin-bottom: 10px;
}
#content .buttons .button {
    display: block;
    width: 48%;
    height: 86px;
    line-height: 86px;
    background-color: #1fc8a1;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 10px;
    position: relative;
    float: left;
}
#content .buttons .button:nth-of-type(2n) {
	float: right;
}